	*{
    padding: 0px;
    margin: 0px;
    }
body{
    background-color: #f9f9f9;
    font-size: 12px;
}
a{
    text-decoration: none;
}
ul,li{
    list-style-type: none;
}
/*顶部信息栏*/
    #topbar{
        /* background-color: #f4f4f4; */
        height: 35px;
        line-height: 35px;
        border-bottom:solid 1px #e5e5e5;
        word-spacing: 10px;
        /*z-index: 3000;*/
        width: 1363px;
        min-width: 1345px;
       
    }
    #topbar span{
        font-family: "微软雅黑";
        font-size: 13px;
        color: #666;
        letter-spacing: 1px;
    }
    #index{
        margin-left: 40px;
        margin-right: 900px;
    }
    #topbar a{
        text-decoration: none;
    }
    #topbar a:hover{
        color: #ff0000;
    }
    #index img{
        width: 14px;
        height: 13px;
        margin-right: 3px;
    }
    #topbox{
        word-spacing: 20px;
        margin-left: 1000px;
    }


/*我的购物车*/
    #cart a{
        text-decoration: none;
        color: #666;
    }
    #cart a:hover{
        color: #ff0000;
    }
	#erweima a{
		color:#666;
	}
	#feedback:hover{
		color:#ff0000;
	}
	